* {
  margin: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  --bg-color-light: rgb(38, 39, 82);
  --bg-color-dark: rgb(36, 34, 71);
  --font-color-blur: rgb(95, 95, 148);
  /* --color-action: rgb(255, 0, 77); */
  --color-action: rgb(67, 15, 245);
  background: var(--bg-color-dark);
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 0.45em;
  height: 0.45em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  outline: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  box-sizing: border-box;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  border: none;
  outline: none;
}

/* Classes */
.dashboard-container {
  display: grid;
  align-content: start;
  background: var(--bg-color-light);
  border-radius: 6px;
  padding: 25px;
}

.dashboard-container .header {
  margin-bottom: 15px;
}